$primary: #ff6b6b;
$secondary: #4ecdc4;
$dark: #292f36;
$light: #f7fff7;
$accent: #ff6b6b;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "accent": $accent
);